body {
	margin: 0;
	font-family: Arial;
}

h1 {
	text-align: center;
}

#input {
	display: block;
	margin: 0 auto;
	width: 50%;
}

p {
	text-align: center;
	text-transform: capitalize;
}

button {
	display: block;
	margin: 10px auto;
}